<html>
    <head>
        <title>To do list app</title>
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
      />
        <script src="https://kit.fontawesome.com/e178782a14.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div id = "container">
            <header>
                <div class = "headerText">My TODO List</div>
                <div id = "toggle" class="toggleButton">
                    <i class="fas fa-plus <%=rotateAngle%>"></i>
                </div>
                
            </header>
            <div id = "inputSection" class="<%=animateType%>">
               <form action="/add-todolist" method="post">
                    <table>
                        <tr>
                            <th class="inputLabel">Category</th>
                            <th class="inputLabel">Title</th>
                            <th class="inputLabel">Date</th>
                        </tr>
                        <tr>
                            <td>
                               <select name="category" id="category">
                                   <option value="SCHOOL">SCHOOL</option>
                                   <option value="WORK">WORK</option>
                                   <option value="SPORTS">SPORTS</option>
                                   <option value="MUSIC">MUSIC</option>
                                   <option value="SHOPPING">SHOPPING</option>

                               </select>
                            </td>
                            <td>
                                <input type="text" name="title">
                            </td>
                            <td>
                                <input type="date" name="date">
                            </td>
                        </tr>
                        <tr>
                            <th class="inputLabel title-description">Description</th>
                        </tr>
                        <tr>
                           <td colspan="3">
                            <input type="text" name="description" class="input-description">
                           </td>
                        </tr>
                        
                        <tr>
                            <td colspan="3" class="text-align-center">
                                <button type="submit" class="add-btn">
                                    ADD
                                </button>
                            </td>

                        </tr>
                    </table>
               </form>
            </div>
            <div id = "lists">
                <div id = "pending-section">
                      <div class = "list-header">
                          <span class = "list-heading"> Pending Tasks</span>
                          <span class = "list-heading">()</span>
                      </div>
                      <ul id = "pending-list">
                         <li class = "list-item">
                             <div class = "checkbox">
                                <i class="far fa-square"></i>
                             </div>
                              <div class = "category">
                                  <span>Shopping</span>
                              </div>
                              <div class = "item-info">
                                  <span class = "title">Football</span> <br>
                                  <span class = "description-text">is a very Good Sport</span>
                              </div>
                              <div class = "bin">
                                <i class="fas fa-trash-alt"></i>
                              </div>
                              <div class = "date">
                                  12/10/21
                                </div>
                         </li>
                         <li class = "list-item">
                            <div class = "checkbox">
                                <i class="far fa-square"></i>
                             </div>
                            <div class = "category">
                                <span>Shopping</span>
                            </div>
                            <div class = "item-info">
                                <span class = "title">Football</span> <br>
                                <span class = "description-text">is a very Good Sport</span>
                            </div>
                            <div class = "bin">
                              <i class="fas fa-trash-alt"></i>
                            </div>
                            <div class = "date">
                                12/10/21
                              </div>
                       </li>

                      </ul>
                </div>
                <div id = "completed">
                        <div class="list-header">
                            <span class = "list-heading"> Completed Tasks</span>
                            <span class = "list-heading">()</span>
                        </div>
                        <ul id = "completed-list">
                            <li class = "list-item"></li>
                        </ul>
                </div>
            </div>

        </div>
    </body>
    <script src="/js/home.js"></script>
</html>